---
name: Gradle_Publish

on:
  workflow_call:
    inputs:
      ARTIFACTORY_URL:
        required: true
        type: string  # staging/snapshots/releases
      gradle-version:
        required: false
        type: string
        default: 6.8.3 # set to empty to build with most recent version of gradle
      gradle-commands:
        required: false
        type: string
        default: publish
      java-version:
        type: string
        required: false
        default: 1.8
      install-ice:
        required: false
        default: false
        type: string
    secrets:
      ARTIFACTORY_USER:
        required: true
      ARTIFACTORY_PASSWORD:
        required: true


jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    env:
      ICE_HOME: /opt/ice-3.6.5
    steps:
      - uses: actions/checkout@v2
      - name: Install Ice and Ice python binding
        uses: ome/action-ice@v1
        if: ${{ inputs.install-ice == 'true' }}
      - name: Set up environment
        uses: ome/action-gradle@v1
        with:
          java-version: ${{ inputs.java-version }}
          gradle-version: ${{ inputs.gradle-version }}
      - name: Set ARTIFACTORY_URL
        run: |
          VAR=${{ inputs.ARTIFACTORY_URL }}
          if [ "$VAR" = "staging" ]; then
            echo "ARTIFACTORY_URL=https://artifacts.openmicroscopy.org/artifactory/ome.staging" >> $GITHUB_ENV
          elif [ "$VAR" = "releases" ]; then
            echo "ARTIFACTORY_URL=https://artifacts.openmicroscopy.org/artifactory/ome.releases" >> $GITHUB_ENV
          else
            echo "ARTIFACTORY_URL=https://artifacts.openmicroscopy.org/artifactory/ome.snapshots" >> $GITHUB_ENV
          fi
      - name: Run commands
        run: ./gradlew ${{ inputs.gradle-commands }}
        env:
          ARTIFACTORY_USER: ${{ secrets.ARTIFACTORY_USER }}
          ARTIFACTORY_PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}
